body {
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    .block{
        font-family: monospace;
        background-color: #bcd0fa;
        padding: 10px;
    }

